<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
   <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>Gebruikte Keukens Emmen</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
	  <link rel="stylesheet" href="../stylesheets/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
	  <link href="https://fonts.googleapis.com/css?family=Share" rel="stylesheet">

  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container-fluid">
        <img src="../img/logo.png" width="12%" height="12%" class="navbar-brand js-scroll-trigger img-fluid py-2 ml-5 animated fadeIn" data-wow-delay="0s" alt=""> <p class="text-white comp pt-4 mr-auto animated fadeIn _15" data-wow-delay="1.5s"><span class="comp1 animated fadeIn _7" data-wow-delay="0.75s"></span></p>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _3" data-wow-delay="0.50s" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _2" data-wow-delay="0.50s" href="/over-ons">Aanbod</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _1" data-wow-delay="0.50s" href="/menu">Acties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig " data-wow-delay="0.50s"   href="/locatie">Verwacht</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig " data-wow-delay="0.50s"   href="/red">Werkwijze</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig " data-wow-delay="0.50s"   href="/red">Voorwaarden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig " data-wow-delay="0.50s"   href="/red">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="" ><span class="comp3 mb-5 animated fadeIn _15" data-wow-delay="1.5s"><br> <span class="comp1 animated fadeIn _2" data-wow-delay="0.20s">GEBRUIKTE KEUKENS EMMEN</span></div>
          <!--<div class="intro-lead-in mt-5 animated fadeIn _20" data-wow-delay="2s">THE BEST BURGERS IN TOWN!</div>-->
          <a class="btn reserveren btn-outline-light btn-xl text-cuppercase js-scroll-trigger mt-5 animated fadeIn" data-wow-delay="2.5s" href="#services">Bekijk ons Aanbod!</a>
        </div>
      </div>
    </header>
<div class="container-fluid">
    <h1 class="m-auto display-3 pt-5 mt-5 locatie text-center ">Nieuw binnen</h1>
    <!--<p class="text-center text-muted pb-5 mb-5 news2">Lees hieronder onze laatste updates </p>-->
</div>
<div class="container pt-5 mt-5"> 
  <div class="row">
    <div class="card-group pb-5 text-center">
      <div class=" col-lg-4 card-img-top1 wow fadeInRightBig">
    <img class="card-img-top" src="https://images.pexels.com/photos/280232/pexels-photo-280232.jpeg?auto=compress&cs=tinysrgb&h=350" height="200px" alt="Card image cap">
    <div class="midden"><div class="bekijken">Bekijken</div></div>
    <div class="card-body  bg-light">
      <!--<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>-->
      <!--<p class="card-text">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>-->
      <!--<button class="btn btn-outline-dark ">Bekijken</button>-->
    </div>
  </div>
  <div class=" col-lg-4 wow card-img-top1 fadeInRightBig">
    <img class="card-img-top" src="https://images.pexels.com/photos/273843/pexels-photo-273843.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image cap">
    <div class="midden"><div class="bekijken">Bekijken</div></div>
    <div class="card-body">
      <!--<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>-->
      <!--<p class="card-text">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet  </p>-->
      <!--<button class="btn btn-outline-dark text-center">Bekijken</button>-->
    </div>
  </div>
  <div class=" col-lg-4 card-img-top1 wow fadeInRightBig">
    <img class="card-img-top" src="https://images.pexels.com/photos/6256/water-kitchen-black-design.jpg?auto=compress&cs=tinysrgb&h=350" height="200px" alt="Card image cap">
    <div class="midden"><div class="bekijken">Bekijken</div></div>
    <div class="card-body">
      <!--<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>-->
      <!--<p class="card-text">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>-->
      <!--<button class="btn btn-outline-dark text-center">Bekijken</button>-->
    </div>
  </div>
</div>
  </div>
</div>
<section id="reviews">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-4 ">
        <img src="../img/3.jpeg" class="img-fluid ta">
      </div>
      <div class="col-lg-8">
        <div class="col-lg-12">
          <h5 class="review-header text-center">Altijd goed</h5>
        <p class="review text-muted"><i class="fas fa-quote-left"></i><em>  Voor een goede gebruikte keuken of kast tegen een scherpe prijs ben je hier aan het goede adres.
</em><i class="fas fa-quote-right"></i></p>
      </div>
        <div class="col-lg-12">
          <h5 class="review-header text-center">Goede zaak.</h5>
        <p class="review text-muted"><i class="fas fa-quote-left"></i><em>  Zelfs z.g.a.n. complete keukens worden aangeboden voor lage prijs.
</em><i class="fas fa-quote-right"></i></p>
<div class="col-lg-12">
      <h5 class="review-header text-center">Aanrader!</h5>
        <p class="review text-muted text-center"><i class="fas fa-quote-left"></i><em>   Prima zaak, goeie service, fijne communicatie!

 </em><i class="fas fa-quote-right"></i></p>
    </div>
      </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
    <h1 class="display-4 locatie text-center my-5">
      KOM JE OOK BIJ ONS LANGS?
    </h1>
  <div class="row">
        <div id="googleMap" class=" mb-5"style="width:100%;height:400px;"></div>
    <!--<div class="col-lg-6 wow fadeIn">-->
    <!--   <p class="location-p mt-5 ml-5">GEBRUIKTE KEUKENS EMMEN </p>-->
    <!--   <p class="location-p ml-5">Tweede bokslootweg 8A </p>-->
    <!--  <p class="location-p ml-5">7821 AS Emmen</p>-->
    <!--  <p class="location-p ml-5 mb-5">0591-572845</p>-->
    <!--  <a class="btn reserveren btn-primary-custom btn-xl text-cuppercase js-scroll-trigger ml-5 " data-wow-delay="2.5s" href="#services">Contact</a>-->
    <!--</div>-->
    </div>
    </div>
  </div>
</div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(52.781780,6.893833),
    zoom:19,
};

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

</script>
  </div>
</div>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright text-light">Copyright &copy; GEBRUIKTE KEUKENS EMMEN</span><br>
            <span class="copyright text-light">GEBOUWD DOOR <STRONG>3D WEB DEVELOPMENT</STRONG></span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
              <i class="fab fa-tripadvisor"></i>
              </a>
              </li>
               <li class="list-inline-item">
                <a href="/">
              <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline  text-dark">
              <li class="list-inline-item">
              <p></p>
              </li>
              <li class="list-inline-item">
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoLGMo0sQvfr6BgQZTclIEx8s3Ovw0SzI
&callback=myMap"></script>
    <script>document.body.classList.add('js-loading');
window.addEventListener("load", showPage);
function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>
