
body {
  overflow-x: hidden;
  font-family: 'Share', cursive!important;
  font-weight:400!important;
  background:#F2F2F2;
}

#logo{
  width:70%;
  height:70%;
}

.over-paragraph{
  font-size:1.2em;
}

.over-slogan{
  font-size:3em;
  text-transform:uppercase;
}

.fa-quote-right {
  font-size:0.5em;
  line-height:0px;
}

.fa-quote-left {
  font-size:0.5em;
  line-height:0px;
}

.chef1{
  max-height:300px;
}

.chef2{
  max-height:300px;
}



p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #3c756c;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.circle{
  color:#028450!important;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary-custom:active, .btn-primary-custom:focus, .btn-primary-custom:hover {
  background-color: #ffc108 !important;
  border-color: #ffc108 !important;
  color: white;
}

.review{
  font-size:120%;
}

.review-header{
  text-transform:uppercase;
}

.section-food{
  height:500px;
}

.img1{
  position:absolute;
  width:50%;
  top:0%;
  left:45%;
  z-index:0;
  box-shadow:0px 20px 50px rgba(0,0,0,0.5);
  border-radius:5px;
  transition:1s;
}

.img2{
  position:absolute;
  width:50%;
  top:20%;
  left:10%;
  box-shadow:0px 20px 50px rgba(0,0,0,0.5);
  border-radius:5px;
  transition:1s;
}

.img3{
  position:absolute;
  width:50%;
  left: 50%;
  top:50%;
  box-shadow:0px 20px 50px rgba(0,0,0,0.5);
  border-radius:5px;
  transition:1s;
}

.img1:hover{
  z-index:10;
  box-shadow:0px 20px 50px rgba(0,0,0,0.8);
  width:55%;
  margin-right:50px;
}

.img2:hover{
  z-index:10;
  box-shadow:0px 20px 50px rgba(0,0,0,0.8);
  width:55%;
  margin-right:50px;
}

.img3:hover{
  z-index:10;
  box-shadow:0px 20px 50px rgba(0,0,0,0.8);
  width:55%;
  margin-right:50px;
}

.best-header{
  padding-top:30px;
  font-size:130%;
  text-transform:uppercase;
  letter-spacing:5px;
}

.best-sub{
  font-size:130%;
  text-transform:uppercase;
  letter-spacing:5px;
  color:grey;
}

#footer{
  background:#000000;
}


.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #000000;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.4);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #ffc108;
}

/*#mainNav .navbar-brand {*/
/*  color: white;*/
/*  font-family: 'Krona One', sans-serif!important;*/
/*}*/

.comp{
  color:white;
  /*font-family: 'Krona One', sans-serif;*/
}

.comp1{
  color:WHITE;
  letter-spacing:10px;
}

.comp2{
  /*color:white;*/
  /*font-family: 'Krona One', sans-serif!important;*/
  font-size:80%;
}

.comp3{
  font-size:350%!important;
    /*font-family: 'Krona One', sans-serif!important;*/
    margin:auto;
}




#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ffc108;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 120%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  /*font-family: 'Krona One', sans-serif;*/
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc108;

}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #000000;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000000;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 0 0;
 
  }
}

._1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

._2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.3s;
}

._3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.6s;
}

._4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 1s;
}

._5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 1.5s;
}

._6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.1s;
}

._7 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.3s;
}

._8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.6s;
}

._9 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 1s;
}

._10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1.5s;
}

._10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1.5s;
}

._15 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

._20 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

._25 {
  -webkit-animation-delay: 2s;
  animation-delay: 2.5s;
}


.icon1{
  color:White!important;
  font-size:120%;
  
}

/*.fa{*/
/*  color:White!important;*/
/*}*/

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.news1{
  margin-top:300px;
  letter-spacing:10px;
  text-transform:uppercase;
}

.news2{
  font-size:120%;
  text-transform:uppercase;
}

.card-group{
    font-family: 'Share', cursive!important;
}

.btn{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    transition: 1s;
}

.card{
  box-shadow: 0px 20px 50px rgba(0,0,0,0.9);
  transition: top 1s !important;
}

.card:hover{
    top: -10px;
    box-shadow: 0px 40px 60px rgba(0,0,0,3);
}

.btn-primary-custom{
  color:white;
  background-color:#ffc108;
}


footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reserveren{
  top: -20px;
  box-shadow: 0px 20px 50px rgba(0,0,0,0.5);
  transition:0.2s;
}

.reserveren:hover{
  top: -10px;
  box-shadow: 0px 40px 60px rgba(0,0,0,0.5);
}

.quicklinks {
  color:white!important;
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #ffc108;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #ff7d05;
}
